#content-window {
    /*border: solid 1px navy;*/
    /*display: inline-block;*/
}

.leftcontainer {
    float: left;
    width: 100%;
    position: relative;
    right: 70%;
    border-right: solid 1px #008080;
}

.rightcontainer {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.leftcontent {    
    float: left;
    width: 26%;
    position: relative;
    left: 72%;
}

.leftcontent h2 {
    color: #008080;
    text-align: right;
}

.rightcontent {
    float: left;
    width: 64%;
    position: relative;
    left: 76%;
}