ul {
    list-style: none;
}

ul li {
    padding: 0px;
    margin: 25px;
    width: 300px;
    float: left;
    width: 300px;
    height: 400px;
}

ul li a {
    display: block;
    background-color: #dddddd;
    padding: 20px;
    width: 260px;
    height: 360px;
}


ul li a:link {
    color: #e68a00;
    text-decoration: none;
}

ul li a:visited {
    color: #e68a00;
    text-decoration: none;
}

ul li a:hover {
    background-color: #cccccc;
    color: #b36b00;
    text-decoration: none;
}

ul li a:active {
    color: #e68a00;
    text-decoration: none;
}