#content-window ul {
    list-style: none;
    margin: 0 auto;
    display: block;
    width: 70%;
}

#content-window ul li {
    padding: 10px;
    margin: auto;
    float: left;
}

#content-window ul li a {
    display: block;
    background-color: #dddddd;
    padding: 20px;
}


#content-window ul li a:link {
    color: #e68a00;
    text-decoration: none;
}

#content-window ul li a:visited {
    color: #e68a00;
    text-decoration: none;
}

#content-window ul li a:hover {
    background-color: #cccccc;
    color: #b36b00;
    text-decoration: none;
}

#content-window ul li a:active {
    color: #e68a00;
    text-decoration: none;
}

.homepage-icon {
    text-align: center;
}