body {
    background-color: #e5f2ff;
}

h1 {
    text-align: center;
    font-family: "Courier New";
}

h1 .title-bracket {
    color: #003366;
}

h1 .title-name {
    color: #e68a00;
}

p {
    font-family: "Courier New";
    font-size: 20px;
}

#content-window {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.content-segment {
    
}

ul {
    list-style: none;
    margin: auto;
}

ul li {
    padding: 0px;
    margin: 25px;
    width: 300px;
    float: left;
    border: 1px solid navy;
    width: 300px;
    height: 400px;
}

a {
    display: block;
    background-color: #dddddd;
    padding: 20px;
    width: 260px;
    height: 360px;
}


a:link {
    color: #e68a00;
    text-decoration: none;
}

a:visited {
    color: #e68a00;
    text-decoration: none;
}

a:hover {
    background-color: #cccccc;
    color: #b36b00;
    text-decoration: none;
}

a:active {
    color: #e68a00;
    text-decoration: none;
}

.homepage-icon {

}