body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
    font-family: "Courier New";
    height: 100px;
    background-color: #808080;
}

h1 #header-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 .title-bracket {
    color: #008080;
}

h1 .title-name {
    color: #008080;
}

p {
    font-family: "Courier New";
    font-size: 20px;
}

#content-window {
    margin: auto;
    width: 90%;
    padding: 10px;
}